# UI
streamlit==1.37.1

# Core
python-dotenv
requests
pillow
numpy<2

# RAG
chromadb
sentence-transformers
pypdf
PyMuPDF==1.23.26

langchain-groq

# OCR (Cloud-safe)
easyocr
opencv-python-headless==4.9.0.80

# Torch (CPU only, REQUIRED for EasyOCR)
torch==2.2.2
torchvision==0.17.2

# UI
streamlit==1.37.1

